#root {
  max-width: 1200px;
  margin: none;
  text-align: center;
  background-color: #282c34;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#box{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#box1{
  width: 200px;
  height: 200px;
  color: black;
  text-align: center;
  border: 5px solid white;
  background-color: #61dafb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#box2{
  width: 200px;
  height: 200px;
  color: black;
  text-align: center;
  border: 5px solid white;
  background-color: #8de0cd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#box3{
  width: 200px;
  height: 200px;
  color: black;
  text-align: center;
  border: 5px solid white;
  background-color: #d5a2e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-hr {
  border: none;
  height: 10px;
  width: 100%;
  background-color: white;
  margin: 20px 0;
}
